.header, .options, nav, main, footer{
	border:0px solid black;
}

.main-container{
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.bg1{
    /*border: 1px solid black;*/
    background-image: url("../img/Lake\ Malawi.jpg");;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: scroll;
    width:100%;
    height: 600px;
}

.bg2{
    /* border: 1px solid black; */
    display: flex;
    row-gap: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    min-height: 500px;
}

.main-blur{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(15, 58, 75, 0.6);
    height: 100%;
    width: 100%;
}

.main-blur h1{
    font-size: 5rem;
    color: white;
}

.main-blur p{
    font-size: 1.8rem;
    color: white;
}

/****** .bg2 ******/

.bg2 .section1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:80%;
    padding-left: 50px;
}

.bg2 .section1 .article1{
    width: 50%;
    font: 1.8rem Arial, bold;
}

.bg2 .section2{
    display: flex;
    width: 80%;
    flex-direction: row;
}

.bg2 .section2 .section2-flag-img{
    width: 60%;
    text-align: center;
}

.section2 .section2-flag-img img{
    border-radius: 10px;
}

.bg2 .section2 .section2-flag-text{
    width: 40%;
    text-align: right;
    font: 2.5rem Verdana, bold;
    padding: 80px;
}

/******** .section3 **********/
.bg2 .section3{
    background-image: url("../img/picture1.jpg");
    background-size: cover;
    background-position:bottom right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 500px;
}


.bg2 .section3 .section3-text{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    color: white;
    background-color: rgba(0,0,0,0.85);
    float: right;
    width: 40%;
    height: 100%;
    font:2.8rem Verdana, bold;
    text-align: center;
}

.section1, .section2, .section3{
    border: 0px solid black;
}