.header, .options, nav, main, footer{
	border:0px solid black;
}

/********* MAIN *************/
main{
	color:white;
}

.bg1{
	background-image: url("../img/picture2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment:scroll; /*scroll*/
	height:34%;
	width:100%;
}

.bg2{
	background-image: url("../img/picture3.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment:fixed; /*scroll*/
	height:33%;
	width:100%;
}

.bg3{
	background-image: url("../img/picture1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	background-attachment:scroll; /*scroll*/
	height:33%;
	width:100%;
}

.main-blur{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:rgba(0,0,0,0.75);
	height:100%;
}