/******** UNIVERSAL ********/

*{
    box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration:none;
	color:white;
}

/******** FONTS *********/
@font-face{
	font-family:'Kremlin';
	src: url('../fonts/kremlin.ttf');
}

@font-face{
	font-family:'Russian';
	src: url('../fonts/Russian.ttf');
}

@font-face{
	font-family:'Voice In My Head';
	src: url('../fonts/Voice In My Head.otf');
}

html{
	font-size:62.5%;
	scroll-behavior: smooth;
}

body{
	height:100vh;
	font:1.5rem Helvetica, Arial;
	scroll-behavior: smooth;
}


/******UNIVERSAL GRID, NAV, FOOTER******/
.grid-container{
	display:grid;
	grid-template-areas: 'nav' 'main' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows: 10rem 2300px 30rem;
	/* row-gap: 2rem; */
	height:100%;
	width:100%;
}

/********* NAV *************/
nav{
	display:flex;
	grid-area:nav;
	align-items:stretch;
	justify-content:center;
	background-color:rgba(0,0,0,0.85);
	color:white;
}

.btn-home, .btn-explore, .btn-other, .btn-about-website{
	cursor: pointer;
}

.navbar li a{
	display: block;
	padding: 10px 20px;
}

.header{
	display:flex;
	justify-content:center;
	align-items:center;
	width:40%;
	font:4rem Voice In My Head;
}

.options{
	display:flex;
	width:60%;
	align-items:flex-end;
	justify-content:center;	
	font:1.5rem Helvetica;
	font-weight:bold;
}

.options ul li{
	display:inline-block;
	list-style-type:none;
	margin:20px;
}

.dropdown-menu{
	display: none;
	position: absolute;
	min-width: 150px;
	background-color: rgba(0,0,0,0.8);
	color:white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-menu li{
	display: block !important;
	text-align: center;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown-menu li:hover{
	border-bottom: 1px solid white;
}

/********** FOOTER ***********/
footer{
	display:flex;
	font:1.5rem Helvetica, bold;
	font-weight:bold;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
	background-color:rgba(0,0,0,0.9);
	color:rgb(255,255,255);
}

footer ul li{
	list-style-type:none;
	display:inline-block;
	margin:30px;
}