/******** UNIVERSAL ********/

*{
    box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration:none;
	color:white;
}

/******** FONTS *********/
@font-face{
	font-family:'Kremlin';
	src: url('../fonts/kremlin.ttf');
}

@font-face{
	font-family:'Russian';
	src: url('../fonts/Russian.ttf');
}

@font-face{
	font-family:'Voice In My Head';
	src: url('../fonts/Voice In My Head.otf');
}

html{
	font-size:62.5%;
	scroll-behavior: smooth;
}

body{
	height:100vh;
	font:1.5rem Helvetica, Arial;
	scroll-behavior: smooth;
}


/******UNIVERSAL GRID, NAV, FOOTER******/
.grid-container{
	display:grid;
	grid-template-areas: 'nav' 'main' 'footer';
	grid-template-columns: 1fr;
	grid-template-rows: 10rem auto 30rem;
	/* row-gap: 2rem; */
	height:100%;
	width:100%;
}

/********** GO UP BUTTON ************/
#btn_go_up{
	position: fixed;
	right: 2px;
	top: 50%;
	height: auto;
	width: auto;
	border: none;
	outline: none;
}

#btn_go_up button{
	background-color:rgba(0,0,0,0.7);
	color: white;
	padding: 10px;
	border: none;
	font: 1.7rem Helvetica, bold;
}

#btn_go_up:hover{
	outline: 1.5px solid whitesmoke;
	transition: 0.3s;
}


/********* NAV *************/
nav{
	display:flex;
	grid-area:nav;
	align-items:stretch;
	justify-content:center;
	background-color:rgba(0,0,0,0.85);
	color:white;
}

.btn-home, .btn-explore, .btn-other, .btn-about-website{
	cursor: pointer;
}

.navbar li a{
	display: block;
	padding: 10px 20px;
}

.header{
	display:flex;
	justify-content:center;
	align-items:center;
	width:40%;
	font:4rem Voice In My Head;
}

.header .header-plain{
	font: 3.7rem Verdana;
}

.options{
	display:flex;
	width:60%;
	align-items:flex-end;
	justify-content:center;	
	font:1.5rem Helvetica;
	font-weight:bold;
}

.options ul li{
	display:inline-block;
	list-style-type:none;
	margin:20px;
}

.dropdown-menu{
	display: none;
	position: absolute;
	min-width: 150px;
	background-color: rgba(0,0,0,0.8);
	color:white;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-menu li{
	display: block !important;
	text-align: center;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown-menu li:hover{
	border-bottom: 1px solid white;
}


/**** OPTIONS MIN BUTTON ****/
.options-minscreen{
	display: none;
}

.options-minscreen .dropdown-min{
	display: none;
}

.dropdown-explore-expand{
	display: none;
}

.min-btn-explore{
	border: 0px solid white;
	background-color: rgba(0,0,0,0.85);
	color: white;
}

/********** FOOTER ***********/
footer{
	display:flex;
	font:1.5rem Helvetica, bold;
	font-weight:bold;
	flex-wrap: wrap;
	justify-content:center;
	align-items:center;
	background-color:rgba(0,0,0,0.9);
	color:rgb(255,255,255);
}

footer ul li{
	list-style-type:none;
	display:inline-block;
	margin:30px;
}

nav, nav .header, nav .options{
	border: 1px solid black;
}


/********* SCREEN UNDER 680PX WIDTH***********/
@media only screen and (max-width:680px){
	nav .header{
		font-size: 3rem;
	}

	nav .options{
		font-size: 1.25rem;
	}
	
}


/********* SCREEN UNDER 600PX WIDTH***********/
@media only screen and (max-width:600px){
	nav .header{
		width:70%;
	}

	.options .navbar{
		display: none;
	}

	nav .options{
		align-items: center;
		justify-content: center;
	}

	.options-minscreen{
		display: block;
	}

	.options-minscreen button img{
		border-radius: 3px;
	}

	.options-minscreen .dropdown-min{
		position:absolute;
		margin: 0;
		padding: 0;
		width:auto;
		background-color: rgba(0,0,0,0.85);
		z-index: 1;
	}

	.options-minscreen .dropdown-min ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	.options-minscreen .dropdown-min li{
		display: block;
	}

	.dropdown-explore-expand{
		position: absolute;
		width:auto;
		background-color: rgba(0,0,0,0.95);
		left:0;
	}
}